<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="{% static 'base.css' %}" rel="stylesheet">
</head>
{% block content %}

<body>
    <header class="news-head">
        <!-- <nav class="news-nav"> -->
        <div class="news-div">
            <h1>Message Board</h1>
            <a href="{% url 'create' %}">create news</a>
        </div>

        {% for entry in all_entry_list %}
        <div class="news-divtwo">
        <h2><a href="#" class="h2">{{ entry.entry_title }}</a></h2>
        <p class="p">{{ entry.entry_text }}</p>
       <button><a href="{% url 'detail' entry.pk %}">view</a></button>
        </div>
        {% endfor %}

        <!-- </nav> -->
    </header>

</body>
{% endblock content %}

</html>